<h1 class="text-center">Find restaurants below:</h1>

<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/200');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2> <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> </h2>
        <p> <%= restaurant.category.capitalize %></p>
      </div>
      <img class="card-user avatar" src="user.jpg">
      <a class="card-link" href="#" ></a>
    </div>
    <br>
    </div>

    <% end %>
  </div>
</div>
<br>
<br>
<div class="container">
<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-danger" %>
</div>
